*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
}
h2{
    font-weight: 500;
    font-size: 34px;
    line-height: 38px;    
    color: #FFFFFF;       
}
.actualdirection{
    text-align: center;    
}
.blocks2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}
.blocks2 a{
    text-decoration: none;
}
.block2{   
    display: block;
    max-width: 31.718%;    
    background-color: rgba(35, 40, 47, 1);
    margin-bottom: 24px;
    border-radius: 4px;    
}
.inblock2 p{
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;      
}
.price{
    font-weight: 500;
    font-size: 13px;
    line-height: 32px;
    color: #1B1E22;
    background-color: #FFB800;
    padding-left: 8px;        
}
.block2 span{
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;   
    color: #1B1E22;
    padding-left: 3px;
    padding-right: 3px;
     
}
.blocks2 .date{
    padding-left: 11px;
    background: #1B1E22;
    opacity: 0.75;
    padding-right: 10px;
    line-height: 32px;    
    border-radius: 0px 6px 6px 0px;  
    font-weight: 500;
    font-size: 13px;    
    color: #FFFFFF;
}
h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;    
}
.block2 h3{
    margin-bottom: 16px;
}

.inblock2{
    padding: 16px 20px 56px 25px;            
}

.inblockImg, .inblockImg2, .inblockImg3, .inblockImg4, .inblockImg5, .inblockImg6 {
    display: flex;    
    padding: 159px 5px 25px 0;
    
}
.inblockImg{
    background-image: url(../img/actual1.png);
    background-size: cover;
    background-position: center;
}
.inblockImg2{
    background-image: url(../img/actual2.png);
    background-size: cover;
    background-position: center;
}
.inblockImg3{
    background-image: url(../img/actual3.png);
    background-size: cover;
    background-position: center;
}
.inblockImg4{
    background-image: url(../img/actual4.png);
    background-size: cover;
    background-position: center;
}
.inblockImg5{
    background-image: url(../img/actual5.jpg);
    background-size: cover;
    background-position: center;
}
.inblockImg6{
    background-image: url(../img/actual6.png);
    background-size: cover;
    background-position: center;
}
.block2 {
   position: relative;

}
.inblock2 .more{    
    position: absolute;
    bottom: 24px;
}
.seeAll a{    
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    border: 1px solid #FFB800;
    border-radius: 4px;
    padding: 12px 37px;
}
.seeAll{
    text-align: center;    
    margin-bottom: 72px;
    margin-top: 24px;
}
.seeAll a:hover{
    background-color: #FFB800;
    color: #000000;
}
.block2:hover{
    transform: scale(1.05);  
    background-color:#FFFFFF;      
}
 .block2:hover .inblock2 h3{
    color: #333333;       
}
.block2:hover .inblock2 p{
    color: #333333;       
}
